/* line 11, sass/sass/server.scss */
html,
body,
#container {
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%;
}

/* line 18, sass/sass/server.scss */
.status-message {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  position: absolute;
  top: 35%;
  left: 35%;
  width: 30%;
  padding: 30px 50px;
  color: white;
  background: black;
  display: block;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  z-index: 2;
}

/* line 37, sass/sass/server.scss */
#ranking,
#snooker,
#breath {
  position: relative;
  height: 100%;
  float: left;
  padding: 0;
  margin: 0;
}
/* line 45, sass/sass/server.scss */
#ranking .content h2,
#snooker .content h2,
#breath .content h2 {
  margin: 0;
  background: #333;
  padding: 10px 0;
  text-align: center;
  color: white;
}
/* line 53, sass/sass/server.scss */
#ranking .content ol,
#snooker .content ol,
#breath .content ol {
  padding: 0;
  margin: 0;
  counter-reset: item;
  list-style-position: inside;
  list-style-type: decimal;
}
/* line 60, sass/sass/server.scss */
#ranking .content ol li,
#snooker .content ol li,
#breath .content ol li {
  padding: 10px 0 10px 45px;
  background: #e2e2e2;
  position: relative;
  display: block;
}
/* line 66, sass/sass/server.scss */
#ranking .content ol li:before,
#snooker .content ol li:before,
#breath .content ol li:before {
  background: #333;
  color: white;
  content: counter(item);
  counter-increment: item;
  height: 20px;
  left: 5px;
  padding: 5px 5px 2px 5px;
  position: absolute;
  text-align: center;
  top: 5px;
  width: 20px;
}
/* line 80, sass/sass/server.scss */
#ranking .content ol li:nth-child(2n+2),
#snooker .content ol li:nth-child(2n+2),
#breath .content ol li:nth-child(2n+2) {
  background: #eee;
}

/* line 88, sass/sass/server.scss */
#ranking {
  width: 14%;
  background: #f4f4f4;
}

/* line 93, sass/sass/server.scss */
#breath {
  width: 1%;
  background: #333;
}

/* line 98, sass/sass/server.scss */
#snooker {
  width: 85%;
}
/* line 104, sass/sass/server.scss */
#snooker .one,
#snooker .two,
#snooker .three,
#snooker .four {
  position: absolute;
  width: 20%;
  height: 20%;
}
/* line 110, sass/sass/server.scss */
#snooker .one {
  top: 0;
  left: 0;
  background-color: #41b1a6;
}
/* line 116, sass/sass/server.scss */
#snooker .two {
  top: 0;
  right: 0;
  background-color: #6cd058;
}
/* line 122, sass/sass/server.scss */
#snooker .three {
  bottom: 0;
  left: 0;
  background-color: #f24e5a;
}
/* line 128, sass/sass/server.scss */
#snooker .four {
  bottom: 0;
  right: 0;
  background-color: #ff7c06;
}
/* line 134, sass/sass/server.scss */
#snooker #dumb-area {
  position: absolute;
  width: 20%;
  height: 20%;
  left: 40%;
  top: 40%;
  color: #c5c5c5;
  font-size: 4em;
}
/* line 144, sass/sass/server.scss */
#snooker .player {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  width: 10%;
  width: 10%;
  display: block;
  text-indent: -2000px;
  background: #ff7c06;
  position: absolute;
  left: 45%;
  top: 45%;
}

/* line 159, sass/sass/server.scss */
.disabled {
  opacity: 0.3;
}
