/* line 11, sass/sass/server.scss */
html,
body,
#container {
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%;
  overflow: hidden;
}

/* line 19, sass/sass/server.scss */
.status-message {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  position: absolute;
  top: 35%;
  left: 35%;
  width: 30%;
  padding: 30px 50px;
  color: white;
  background: black;
  display: block;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  z-index: 2;
}

/* line 38, sass/sass/server.scss */
#ranking,
#snooker,
#breath {
  position: relative;
  height: 100%;
  float: left;
  padding: 0;
  margin: 0;
}
/* line 46, sass/sass/server.scss */
#ranking .content h2,
#snooker .content h2,
#breath .content h2 {
  margin: 0;
  background: #333;
  padding: 10px 0;
  text-align: center;
  color: white;
}
/* line 54, sass/sass/server.scss */
#ranking .content ul,
#snooker .content ul,
#breath .content ul {
  padding: 0;
  margin: 0;
  counter-reset: item;
  list-style-position: inside;
  list-style-type: decimal;
}
/* line 61, sass/sass/server.scss */
#ranking .content ul li,
#snooker .content ul li,
#breath .content ul li {
  padding: 10px;
  background: #e2e2e2;
  position: relative;
  display: block;
}
/* line 67, sass/sass/server.scss */
#ranking .content ul li:first-child,
#snooker .content ul li:first-child,
#breath .content ul li:first-child {
  background: #999;
}
/* line 71, sass/sass/server.scss */
#ranking .content ul li:nth-child(2n+2),
#snooker .content ul li:nth-child(2n+2),
#breath .content ul li:nth-child(2n+2) {
  background: #eee;
}

/* line 79, sass/sass/server.scss */
#ranking {
  width: 14%;
  background: #f4f4f4;
}

/* line 84, sass/sass/server.scss */
#breath {
  width: 1%;
  background: #333;
}

/* line 89, sass/sass/server.scss */
#snooker {
  width: 85%;
}
/* line 95, sass/sass/server.scss */
#snooker .one,
#snooker .two,
#snooker .three,
#snooker .four {
  position: absolute;
  width: 20%;
  height: 20%;
}
/* line 101, sass/sass/server.scss */
#snooker .one {
  top: 0;
  left: 0;
  background-color: #41b1a6;
}
/* line 107, sass/sass/server.scss */
#snooker .two {
  top: 0;
  right: 0;
  background-color: #6cd058;
}
/* line 113, sass/sass/server.scss */
#snooker .three {
  bottom: 0;
  left: 0;
  background-color: #f24e5a;
}
/* line 119, sass/sass/server.scss */
#snooker .four {
  bottom: 0;
  right: 0;
  background-color: #ff7c06;
}
/* line 125, sass/sass/server.scss */
#snooker #dumb-area {
  position: absolute;
  width: 20%;
  height: 20%;
  left: 40%;
  top: 40%;
  color: #c5c5c5;
  font-size: 4em;
}
/* line 135, sass/sass/server.scss */
#snooker .player {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  width: 50px;
  height: 44px;
  padding-top: 6px;
  display: block;
  background: black;
  position: absolute;
  color: white;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  left: 45%;
  top: 45%;
  transition: all 0.5s linear;
}
