@import "compass";

// Colors
$blue: #41b1a6;
$green: #6cd058;
$salmon: #f24e5a;
$orange: #ff7c06;

html,
body,
#container {
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%;
}

.status-message {
  @include border-radius(10px);

  position: absolute;
  top: 35%;
  left: 35%;
  width: 30%;
  padding: 30px 50px;
  color: white;
  background: black;
  display: block;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  z-index: 2;
}

#ranking,
#snooker,
#breath {
  position: relative;
  height: 100%;
  float: left;
  padding: 0;
  margin: 0;

  .content {
    h2 {
      margin: 0;
      background: #333;
      padding: 10px 0;
      text-align: center;
      color: white;
    }

    ol {
      padding: 0;
      margin: 0;
      counter-reset: item;
      list-style-position: inside;
      list-style-type: decimal;

      li {
        padding: 10px 0 10px 45px;
        background: #e2e2e2;
        position: relative;
        display: block;

        &:before {
          background: #333;
          color: white;
          content: counter(item);
          counter-increment: item;
          height: 20px;
          left: 5px;
          padding: 5px 5px 2px 5px;
          position: absolute;
          text-align: center;
          top: 5px;
          width: 20px;
        }

        &:nth-child(2n+2) {
          background: #eee;
        }
      }
    }
  }
}

#ranking {
  width: 14%;
  background: #f4f4f4;
}

#breath {
  width: 1%;
  background: #333;
}

#snooker {
  width: 85%;

  .one,
  .two,
  .three,
  .four {
    position: absolute;
    width: 20%;
    height: 20%;
  }

  .one {
    top: 0;
    left: 0;
    background-color: $blue;
  }

  .two {
    top: 0;
    right: 0;
    background-color: $green;
  }

  .three {
    bottom: 0;
    left: 0;
    background-color: $salmon;
  }

  .four {
    bottom: 0;
    right: 0;
    background-color: $orange;
  }

  #dumb-area {
    position: absolute;
    width: 20%;
    height: 20%;
    left: 40%;
    top: 40%;
    color: #c5c5c5;
    font-size: 4em;
  }

  .player {
    @include border-radius(50%);

    width: 10%;
    width: 10%;
    display: block;
    text-indent: -2000px;
    background: $orange;
    position: absolute;
    left: 45%;
    top: 45%;
  }
}

// Useful Classes
.disabled {
  opacity: 0.3;
}