@import "compass";

// Colors
$blue: #41b1a6;
$green: #6cd058;
$salmon: #f24e5a;
$orange: #ff7c06;

html,
body,
#container {
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%;
  overflow: hidden;
}

.status-message {
  @include border-radius(10px);

  position: absolute;
  top: 35%;
  left: 35%;
  width: 30%;
  padding: 30px 50px;
  color: white;
  background: black;
  display: block;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  z-index: 2;
}

#ranking,
#snooker,
#breath {
  position: relative;
  height: 100%;
  float: left;
  padding: 0;
  margin: 0;

  .content {
    h2 {
      margin: 0;
      background: #333;
      padding: 10px 0;
      text-align: center;
      color: white;
    }

    ul {
      padding: 0;
      margin: 0;
      counter-reset: item;
      list-style-position: inside;
      list-style-type: decimal;

      li {
        padding: 10px;
        background: #e2e2e2;
        position: relative;
        display: block;

        &:first-child {
          background: #999;
        }

        &:nth-child(2n+2) {
          background: #eee;
        }
      }
    }
  }
}

#ranking {
  width: 14%;
  background: #f4f4f4;
}

#breath {
  width: 1%;
  background: #333;
}

#snooker {
  width: 85%;

  .one,
  .two,
  .three,
  .four {
    position: absolute;
    width: 20%;
    height: 20%;
  }

  .one {
    top: 0;
    left: 0;
    background-color: $blue;
  }

  .two {
    top: 0;
    right: 0;
    background-color: $green;
  }

  .three {
    bottom: 0;
    left: 0;
    background-color: $salmon;
  }

  .four {
    bottom: 0;
    right: 0;
    background-color: $orange;
  }

  #dumb-area {
    position: absolute;
    width: 20%;
    height: 20%;
    left: 40%;
    top: 40%;
    color: #c5c5c5;
    font-size: 4em;
  }

  .player {
    @include border-radius(100%);

    width: 50px;
    height: 44px;
    padding-top: 6px;
    display: block;
    background: black;
    position: absolute;
    color: white;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    left: 45%;
    top: 45%;
    transition: all 0.5s linear;
  }
}